<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wolanjeAfrica.wolanjej">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Learning_hub5">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".learning_hub4">

        </activity>
        <activity android:name=".Learning_hub03"></activity>
        <activity android:name=".Learning_Hub2" />
        <activity android:name=".Sponsors12" />
        <activity android:name=".Sponsors_13" />
        <activity android:name=".EnterPin2" />
        <activity android:name=".EnterPin3" />
        <activity android:name=".Ewallet2_1" />
        <activity android:name=".GettingStarted" />
        <activity android:name=".NeedSupport" />
        <activity android:name=".Qr_code22" />
        <activity android:name=".BookBus09" />
        <activity android:name=".BookBus06" />
        <activity android:name=".BusChooseSeat05" />
        <activity android:name=".BusInfo04" />
        <activity android:name=".BookBus03" />
        <activity android:name=".BookBusSelectedDate02" />
        <activity android:name=".BookBus01" />
        <activity android:name=".Registration051" />
        <activity android:name=".Profile49" />
        <activity android:name=".Loans" />
        <activity android:name=".Sponsor07" />
        <activity android:name=".Sponsor06" />
        <activity android:name=".Sponsor05" />
        <activity android:name=".Sponsor04" />
        <activity android:name=".Scholarship05" />
        <activity android:name=".Scholarship04" />
        <activity android:name=".scholarship3" />
        <activity android:name=".Scholarship02" />
        <activity android:name=".Scholarship" />
        <activity android:name=".BookFlight02" />
        <activity android:name=".Notifications52" />
        <activity android:name=".Sponsor03" />
        <activity android:name=".Sponsor02" />
        <activity android:name=".Sponsor01" />
        <activity android:name=".Sponsors00" />
        <activity android:name=".BookFlight10" />
        <activity android:name=".BookFlight" />
        <activity android:name=".BookFlightPin" />
        <activity android:name=".BookFlight03" />
        <activity android:name=".Bookflight04" />
        <activity android:name=".Bookflight05" />
        <activity android:name=".Bookflight06" />
        <activity android:name=".Travel" />
        <activity android:name=".Education_50" />
        <activity android:name=".Education_2" />
        <activity android:name=".Education1" />
        <activity android:name=".Scholarship06" />
        <activity android:name=".PaymentsMain" />
        <activity android:name=".BulkPaymentsMain" />
        <activity android:name=".Top_up" />
        <activity android:name=".TopupOtherNumber" />
        <activity android:name=".HomeTwo" />
        <activity android:name=".Reg_04" />
        <activity android:name=".Reg03Activity" />
        <activity android:name=".Reg_02" />
        <activity android:name=".ContactsView" />
        <activity android:name=".cryptomarket" />
        <activity android:name=".Referrals" />
        <activity android:name=".BillManager" />
        <activity android:name=".CryptoBalance" />
        <activity android:name=".Pin49" />
        <activity android:name=".EnterPin" />
        <activity android:name=".ConfirmMultipleTransfer42" />
        <activity android:name=".TransferToWalletMultiple40" />
        <activity android:name=".ConfirmTransferToPhone52" />
        <activity android:name=".ConfirmTransferToBank46" />
        <activity android:name=".ConfirmSingleTransfer40" />
        <activity android:name=".TransferToPhone50" />
        <activity android:name=".TransferToBank44" />
        <activity android:name=".TransactionView" />
        <activity android:name=".MainTransfer36" />
        <activity android:name=".TransferToWalletSingle37" />
        <activity android:name=".Settings48" />
        <activity android:name=".LinkAccount11" />
        <activity android:name=".Registration07" />
        <activity android:name=".services" />
        <activity android:name=".IncomeDetails" />
        <activity android:name=".profile" />
        <activity android:name=".CardLink" />
        <activity android:name=".Home" />
        <activity android:name=".LinkCardSuccessfully" />
        <activity android:name=".LogIn" />
        <activity android:name=".Registration05" />
        <activity android:name=".Registration08" />
        <activity android:name=".Registration06" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@layout/toobarwithout" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MainActivity" />
    </application>

</manifest>